body {
    text-align: center;
    width: 75%;
    margin: auto;
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
}

.dark-mode {
    background-color: rgb(56,56,56);
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding: 5px;
}

#header {
    position: relative;
    border: 1px solid silver;
    border-radius: 12px;
}

#content {
    border: 1px solid silver;
    border-radius: 12px;
}

#footer {
    border: 1px solid silver;
    border-radius: 12px;
}

#navbar {
    position: relative;
    border: 1px solid silver;
    border-radius: 12px;
}

.slidecontainer {
    position: absolute;
    top: 5px;
    right: 5px;
}

.slider {
    -webkit-appearance: none;
    width: 50px;
    height: 25px;
    background: rgb(56,56,56);
    outline: none;
}

.slider:hover {
    opacity: 1;
}
