body {
    text-align: center;
    width: 75%;
    margin: auto;
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
}

.dark-mode {
    background-color: rgb(56,56,56);
    color: silver;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding: 5px;
}

#header {
    position: relative;
    border: 1px solid silver;
    border-radius: 12px;
}

#content {
    border: 1px solid silver;
    border-radius: 12px;
}

#github {
    border: 1px solid silver;
    border-radius: 12px;
}

#footer {
    border: 1px solid silver;
    border-radius: 12px;
}

#navbar {
    position: relative;
    border: 1px solid silver;
    border-radius: 12px;
}

#userRepo {
    text-align: left;
    border: 1px solid silver;
    border-radius: 12px;
    width: 50%;
    margin: 0 auto;
    padding: 5px;
}

#darkModeBtn {
    border: 1px solid silver;
    border-radius: 50%;
    background-color: rgb(56,56,56);
    width: 35px;
    height: 35px;
}
