.slidecontainer {
    position: absolute;
    top: 12px;
    right: 225px;
}

#darkModeBtn {
    border: 1px solid silver;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

#btn {
    display: block;
    padding: 5px;
    border: 1px solid silver;
    background-color: silver;
    border-radius: 12px;
}

#btnInline {
    padding: 5px;
    border: 1px solid silver;
    background-color: silver;
    border-radius: 12px;
}

#TopBarContainer a {
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
}

#LeftSideBarContainer a:hover {
    color: silver;
}

body {
    text-align: center;
    height: 100%;
    font-size: 25px;
}

#flexcontainer {
    display: flex;
    flex-wrap: wrap;
}

#main {
    flex: 70%;
    margin-left: 200px;
    margin-right: 50px;
}

a {
    text-decoration: none;
}

#LeftSideBarContainer {
    flex: 20%;
    position: fixed;
    left: 10px;
}

#RightSideBarContainer {
    flex: 10%;
    position: fixed;
    right: 10px;
}

@media (max-width: 600px) {
    #LeftSideBarContainer, #RightSideBarContainer {
        flex-direction: column;
        position: unset;
        left: auto;
        right: auto;
    }

    #main {
        width: 100%;
        margin-left: unset;
        margin-right: unset;
    }

    .video {
        width: 100%;
    }

    #top {
        display: inherit;
    }
}
